<footer class="main-footer">
    <div class="container">
        <ul class="breadcrumb">
            <li><span>Copyright &copy; 2017 <a href="http://birdee.hasadna.org.il/" target="_blank"><strong>Birdee</strong> - Notification center</a></span></li>
            <li><span>Theme: <a href="https://github.com/almasaeed2010/AdminLTE" target="_blank">AdminLTE</a> by <a href="http://adminlte.io" target="_blank">Almsaeed Studio</a></span></li>
        </ul>
    </div>
    <!-- /.container -->
</footer>
